.Results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darken(white, 5%);
  .answers {
    position: absolute;
    overflow-y: scroll;
    left: 50%;
    height: 100%;
    width: 480px;
    transform: translate(-50%);
    background: darken(white, 10%);
    z-index: 1;
    top: -100%;
    transition: 1s;
    &.active {
      top: 0;
    }
    @include responsive(640px) {
      width: 100%;
    }
    .answer {
      padding: 10px 0;
      border-bottom: 2px solid black;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
      .question {
        font-style: italic;
        margin-bottom: 10px;
      }
      .correct-answer,
      .user-answer {
        padding: 5px 0;
        img {
          margin-left: 8px;
          width: 16px;
        }
      }
      .correct-answer {
        background: lighten(green, 60%);
      }
      .user-answer {
        border-top: 1px solid #333;
        background: lighten(red, 35%);
      }
    }
    .hide-answers {
      cursor: pointer;
      padding: 10px;
      margin: auto;
      display: block;
      font-size: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .show-answers {
      font-size: 20px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .score {
      margin: 15px 0;
      font-size: 24px;
      font-weight: lighter;
    }
    .play-again {
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      padding: 8px 20px;
      background: lightblue;
      color: #333;
      transition: 0.3s;
      &:hover {
        border-radius: 20px;
      }
    }
  }
}
