@import "reset";
@import "responsive";

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 10px 15px;
  width: 480px;
  margin: auto;
  @include responsive(640px) {
    width: 100%;
  }
}

.Preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  .content {
    position: relative;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .box {
      position: relative;
      svg {
        transform: rotate(-90deg);
        circle {
          stroke-width: 12px;
          background: #000;
          stroke: deepskyblue;
          transition: 40ms;
        }
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        color: white;
        transition: 1s;
        span {
          font-size: 50%;
        }
      }
    }
  }
}

.Quiz {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  h1,
  h2 {
    color: white;
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-weight: 300;
    margin: 20px 0;
    font-size: 24px;
  }
  .topics {
    button {
      border: 2px solid white;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      margin: 10px 0;
      padding: 15px 20px;
      width: 100%;
      font-size: 20px;
      background: #000;
      color: white;
      transition: 0.7s;
      z-index: 1;
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
        width: 0px;
        height: 0px;
        background: url("../images/rectangle.png");
        background-size: cover;
        transition: 0.7s;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
      &:hover {
        color: black;
        &:before {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

.Game {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
  }
  .answers {
    button {
      overflow: hidden;
      position: relative;
      border: 2px solid white;
      cursor: pointer;
      margin: 10px 0;
      padding: 15px 20px;
      background: #000;
      color: white;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      transition: 0.5s;
      width: 100%;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        width: 25px;
        height: 25px;
        transform: translate(0%, -50%);
        transition: 0.5s;
        background: url("../images/checkmark.png");
        background-size: cover;
      }
      &:hover {
        background: white;
        color: black;
        border-color: black;
        &:after {
          transform: translate(-150%, -50%);
        }
      }
    }
  }
  .Progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: grey;
    .bar {
      width: 100%;
      background: deepskyblue;
      transition: 1s;
    }
    .text {
      position: absolute;
      top: 20px;
      right: 20px;
      border: 1px solid white;
      border-radius: 50%;
      color: white;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }
  .Timer {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: center;
    .icon {
      img {
        width: 48px;
        display: block;
      }
    }
    .text {
      margin: 5px 0;
      color: white;
      font-weight: lighter;
    }
    .progress {
      position: relative;
      height: 10px;
      width: 100%;
      background: lightgrey;
      box-shadow: 0 0 5px 2px white;
      .bar {
        position: absolute;
        right: 0;
        height: 100%;
        width: 100%;
        background: black;
        transition: 1s;
      }
    }
  }
}

.Results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: darken(white, 5%);
  .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      font-size: 24px;
      font-weight: light;
      text-align: center;
    }
    button {
      cursor: pointer;
      font-size: 20px;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      padding: 8px 20px;
      background: lightblue;
    }
  }
}

@import "./components//spinner";
