@import "reset";
@import "responsive";

body {
  font-family: "Roboto", sans-serif;
  background: black;
}

.container {
  padding: 10px 15px;
  width: 480px;
  margin: auto;
  @include responsive(640px) {
    width: 100%;
  }
}

@import "./components/Game";
@import "./components/Preloader";
@import "./components/Quiz";
@import "./components/Results";
