* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  background: black;
}

.container {
  padding: 10px 15px;
  width: 480px;
  margin: auto;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

.Game {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Game h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}

@media (max-width: 640px) {
  .Game h2 {
    font-size: 24px;
  }
}

@media (max-height: 640px) {
  .Game h2 {
    font-size: 24px;
  }
}

.Game .answers button {
  overflow: hidden;
  position: relative;
  border: 2px solid white;
  cursor: pointer;
  margin: 10px 0;
  padding: 15px 20px;
  background: #000;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

@media (max-width: 640px) {
  .Game .answers button {
    padding: 10px 15px;
  }
}

@media (max-height: 640px) {
  .Game .answers button {
    padding: 10px 15px;
  }
}

.Game .answers button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: url("../images/checkmark.png");
  background-size: cover;
}

.Game .answers button:hover {
  background: white;
  color: black;
  border-color: black;
}

.Game .answers button:hover:after {
  -webkit-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}

.Game .Progress-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: grey;
}

.Game .Progress-bar .bar {
  width: 100%;
  background: deepskyblue;
  -webkit-transition: 1s;
  transition: 1s;
}

.Game .Progress-bar .text {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: black;
}

@media (max-width: 640px) {
  .Game .Progress-bar .text {
    top: initial;
    bottom: 35px;
  }
}

@media (max-height: 640px) {
  .Game .Progress-bar .text {
    top: initial;
    bottom: 35px;
  }
}

.Game .Timer {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  text-align: center;
}

@media (max-width: 640px) {
  .Game .Timer {
    top: initial;
    bottom: 0;
  }
}

@media (max-height: 640px) {
  .Game .Timer {
    top: initial;
    bottom: 0;
  }
}

.Game .Timer .icon img {
  width: 48px;
  display: block;
}

.Game .Timer .text {
  margin: 5px 0;
  color: white;
  font-weight: lighter;
}

.Game .Timer .progress {
  position: relative;
  height: 10px;
  width: 100%;
  background: lightgrey;
  -webkit-box-shadow: 0 0 5px 2px white;
          box-shadow: 0 0 5px 2px white;
}

.Game .Timer .progress .bar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  background: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.Preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Preloader .content {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Preloader .content .box {
  position: relative;
}

.Preloader .content .box svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.Preloader .content .box svg circle {
  stroke-width: 12px;
  background: #000;
  stroke: deepskyblue;
  -webkit-transition: 40ms;
  transition: 40ms;
}

.Preloader .content .box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.Preloader .content .box .text span {
  font-size: 50%;
}

.Quiz {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Quiz h1,
.Quiz h2 {
  color: white;
  text-align: center;
}

.Quiz h1 {
  font-size: 48px;
}

@media (max-width: 640px) {
  .Quiz h1 {
    font-size: 36px;
  }
}

@media (max-height: 640px) {
  .Quiz h1 {
    font-size: 36px;
  }
}

.Quiz h2 {
  font-weight: 300;
  margin: 20px 0;
  font-size: 24px;
}

@media (max-width: 640px) {
  .Quiz h2 {
    font-size: 20px;
  }
}

@media (max-height: 640px) {
  .Quiz h2 {
    font-size: 20px;
  }
}

.Quiz .topics button {
  border: 2px solid white;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 10px 0;
  padding: 15px 20px;
  width: 100%;
  font-size: 20px;
  background: #000;
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 1;
}

@media (max-width: 640px) {
  .Quiz .topics button {
    padding: 10px 15px;
  }
}

@media (max-height: 640px) {
  .Quiz .topics button {
    padding: 10px 15px;
  }
}

.Quiz .topics button:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background: url("../images/rectangle.png");
  background-size: cover;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.Quiz .topics button:hover {
  color: black;
}

.Quiz .topics button:hover:before {
  width: 275px;
  height: 275px;
}

.Results {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
}

.Results .answers {
  position: absolute;
  overflow-y: scroll;
  left: 50%;
  height: 100%;
  width: 480px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: #e6e6e6;
  z-index: 1;
  top: -100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.Results .answers.active {
  top: 0;
}

@media (max-width: 640px) {
  .Results .answers {
    width: 100%;
  }
}

.Results .answers .answer {
  padding: 10px 0;
  border-bottom: 2px solid black;
}

.Results .answers .answer:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.Results .answers .answer .question {
  font-style: italic;
  margin-bottom: 10px;
}

.Results .answers .answer .correct-answer,
.Results .answers .answer .user-answer {
  padding: 5px 0;
}

.Results .answers .answer .correct-answer img,
.Results .answers .answer .user-answer img {
  margin-left: 8px;
  width: 16px;
}

.Results .answers .answer .correct-answer {
  background: #b3ffb3;
}

.Results .answers .answer .user-answer {
  border-top: 1px solid #333;
  background: #ffb3b3;
}

.Results .answers .hide-answers {
  cursor: pointer;
  padding: 10px;
  margin: auto;
  display: block;
  font-size: 20px;
}

.Results .answers .hide-answers:hover {
  text-decoration: underline;
}

.Results .content {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.Results .content .show-answers {
  font-size: 20px;
  cursor: pointer;
}

.Results .content .show-answers:hover {
  text-decoration: underline;
}

.Results .content .score {
  margin: 15px 0;
  font-size: 24px;
  font-weight: lighter;
}

.Results .content .play-again {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 8px 20px;
  background: lightblue;
  color: #333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Results .content .play-again:hover {
  border-radius: 20px;
}
